
<div ng-app="adminApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">admin</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a ui-sref="main">Заказы из магазина</a></li>
                    <li><a ui-sref="products">Товары</a></li>
                    <li><a ui-sref="blog">Блог</a></li>
                    <li><a ui-sref="callback">Заказы Звонков</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div  ui-view></div>


</div>
</div>

<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>



<!-- bower:js -->
<!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>-->
<!--<script src="bower_components/lodash/lodash.js"></script>-->
<!--<script src="bower_components/restangular/dist/restangular.js"></script>-->
<!-- endbower -->
<!-- endbuild -->


<script src="js/private/admin/app.js"></script>
<script src="js/private/admin/services/service.js"></script>

<script src="js/private/admin//controllers/controllers.js"></script>

</div>
