
    <div>
        <div>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About</li>

                </ol>
            </div>
            <div class="container">
                <h3>About Us</h3>
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="row row-content">
                <h2>История пряников</h2>
                <p>История пряников насчитывает огромное количество лет, они появились очень давно, а письменное упоминание о них встречается более чем за 300 лет до н.э.</p>

                <p>Первые пряники на Руси назывались «медовым хлебом» и появились ещё около IX века, они представляли собой смесь ржаной муки с медом и ягодным соком, причём мед в них составлял почти половину от всех других ингредиентов. Позже в «медовый хлеб» стали добавлять лесные травы и коренья, а в XII—XIII веках, когда на Руси начали появляться экзотические пряности, привезённые из Индии и с Ближнего Востока, пряник получил своё название и практически окончательно оформился в то лакомство, которое известно нам.</p>

                <p>Я занимаюсь изучением истории и рецептов пряников, самых необычных и экзотических. На это меня сподвигли рецепты древнерусской кухни, хранящиеся в нашей семье на протяжении уже можно сказать многих веков.</p>

            </div>
            <div class="col-xs-12 col-sm-12">
                <p style="padding:20px;"></p>
            </div>
        </div>


        

    </div>

   