
    <div>
        <div>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About</li>

                </ol>
            </div>
            <div class="container">
                <h3>About Us</h3>
                <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class=" col-sm-9 col-xs-12">
                <div class="panel hello panel-default">
                    <div class="panel-body ">
                        <img class=" img-thumbnail leftimage " src="img/anna-ramka.jpg" alt="...">
                        <h4> Рада приветствовать Вас на моем сайте, посвященному замечательному элементу нашей национальной культуры — прянику.</h4>
                        <p>Первые пряники на Руси назывались «медовым хлебом» и появились ещё около IX века, а когда на Руси начали появляться экзотические пряности, привезённые из Индии и с Ближнего Востока, пряник получил своё название и практически окончательно оформился в то лакомство, которое известно нам.</p>

                        <p>Я занимаюсь изучением истории и рецептов пряников, самых необычных и экзотических. На это меня сподвигли рецепты древнерусской кухни, хранящиеся в нашей семье на протяжении уже можно сказать многих веков.</p>
                        <p>Полный список пряников находится в магазине, а здесь представленны самые интересные варианты</p>
                        <p>На новый год я приникаю заказы до 15 декабря, после буду очень рада сделать пряник на заказ начиная с 16 января</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3   ">
                <div class="panel panel-default ">
                    <div class="panel-heading customorder">
                        <h3 class="panel-title ">Заказать индивидуальные пряники</h3>
                    </div>
                    <div class="panel-body ">
                        <div class="ord-im"><img src="img/logo.png"></div>
                        <p>Здесь вы можете сделать заказ на индивидуальные пряники к вашему событию. <a href="">Подробнее</a></p>
                        <div class="ord">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#prModal">
                                Заказать
                            </button>
                            <!-- Modal -->
                            <div class="modal fade bs-example-modal-sm" id="prModal" tabindex="-1" role="dialog" aria-labelledby="prModalLabel">
                                <div class="modal-dialog modal-sm " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Расскажите о своей идее</h4>
                                        </div>

                                        <div class="modal-body">
                                            <form name="IndividualPrForm" >
                                                <input type="text" id ="callbackname" name = "callbackname" class="form-control  " placeholder ="* Имя " ng-model="callbackname">
                                                <br>
                                                <input type="text"  id ="callbackphone" name = "callbackphone" class="form-control " placeholder ="* Телефон" ng-model="callbackphone">
                                                <br>
                                                <textarea type="text"  id ="callbackmessage" class="form-control " placeholder ="Идея для пряника" ng-model="callbackmessage"> </textarea>
                                                <br>
                                            </form>
                                        </div>
                                        <div class="modal-footer"> <small>* - Обязательное поле</small>
                                            <button class="btn btn-custom" ng-disabled = "IndividualPrForm.callbackname.$pristine ||IndividualPrForm.callbackphone.$pristine" type="submit" ng-click="addCallbackPr('from_pr')" data-dismiss="modal">Заказать</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
            <div class="row row-content">
                <h2>История пряников</h2>
                <p>История пряников насчитывает огромное количество лет, они появились очень давно, а письменное упоминание о них встречается более чем за 300 лет до н.э.</p>

                <p>Первые пряники на Руси назывались «медовым хлебом» и появились ещё около IX века, они представляли собой смесь ржаной муки с медом и ягодным соком, причём мед в них составлял почти половину от всех других ингредиентов. Позже в «медовый хлеб» стали добавлять лесные травы и коренья, а в XII—XIII веках, когда на Руси начали появляться экзотические пряности, привезённые из Индии и с Ближнего Востока, пряник получил своё название и практически окончательно оформился в то лакомство, которое известно нам.</p>

                <p>Я занимаюсь изучением истории и рецептов пряников, самых необычных и экзотических. На это меня сподвигли рецепты древнерусской кухни, хранящиеся в нашей семье на протяжении уже можно сказать многих веков.</p>

            </div>
            <div class="col-xs-12 col-sm-12">
                <p style="padding:20px;"></p>
            </div>
        </div>


        

    </div>

   