<div class="container">
    <div class="row row-content">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Корзина</h2>            
            <table class="table table-striped">
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                    <th>Удалить</th>
                </tr>
                <tr ng-repeat = "item in cartData">
                    <td>{{item.product.title}}</td>
                    <td>
                        {{item.product.price | currency : ' ' :0 }}
                        <span class="glyphicon glyphicon-rub" aria-hidden="true">
                    </td>
                    <td>
                        {{item.amount}}
                        <a ng-click=Change(item.id,-1)><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                        <a ng-click=Change(item.id,+1)><span class="glyphicon glyphicon-plus" aria-hidden="true"></a>
                    </td>
                    <td>
                        {{item.product.price*item.amount}}
                        <span> <del>Р</del></span></td>
                    <td><a ng-click="emptyCart(item.id)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                  <td colspan="3"><b>Итого:</b></td>
                  <td><h5><b>{{summ}}<span><del>Р</del></span></b></h5></td>
                  <td><a ng-click="deleteCart()">Очистить</a> </td>
                </tr>
            </table>
            <button class="btn btn-custom" ng-click="toggleOrder()"> Перейти к оформлению</button>
        </div>
    </div>


    <div class="row row-content" ng-show="showOrder">
        <form ng-submit="createOrder(order)" name ="createOrderForm" class="col-sm-8 col-sm-offset-2">
            <h2>Оформление заказа</h2>

            <div class="form-group">
                <label for="exampleInputPassword1">Как к вам удобно обращаться?</label>
                <input type="text"  required class="form-control"  id="exampleInputPassword1" placeholder="Имя, фамилия" ng-model="order.customername">
            </div>
            <div class="form-group">
                <label >Ваш контактый телефон</label>
                <input type="tel" required class="form-control" id="exampleInputPassword1" placeholder="Контактный телефон" ng-model="order.customerphone">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Ваш контактный email</label>
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" ng-model="order.customeremail">
            </div>
            <div class="checkbox">
                <div>
                    <p> Самовывоз забирается по адресу г.Саратов, ул. 3-й Дегтярный Проезд 22В (<a href="https://maps.yandex.ru/-/CVH4vA6o" target="_blank">карта</a>)
                    </p>
                </div>
                <label>
                    <input type="checkbox" ng-model="order.needDelivery"> Нужна доставка
                </label>
            </div>
            <div class="form-group" ng-show = "order.needDelivery">
                <label >Адрес Доставки</label>
                <textarea ng-disabled="!order.needDelivery" class="form-control"  rows="3" placeholder="Адрес доставки" ng-model ="order.customeradress"></textarea>
            </div>
            <div class="form-group" >
                <label>Оплата</label>
                <p>На данный момент оплата принимается только наличными
                    Мы доставляем пряники бесплатно по Саратову при заказе от 500 руб.
                    По России мы доставляем с Помощью курьерской службы. Стоимость доставки будет уточняться после заказа</p>
            </div>
            <button class="btn btn-custom">Оформить заказ</button>
        </form>
    </div>
</div>