<footer>
        <div class="container">
            <div class="row row-footer">             
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1 ">
                    <h5>Пряники</h5>
                                    <ul class="list-unstyled">
                                        <li><a ui-sref="app.fororder">На заказ</a></li>
                                        <li><a ui-sref="app.masterclass">Мастер-класс</a></li>
                                        <li><a ui-sref="app.magaz({category: ''})">Все пряники</a></li>
                                    </ul>

                                    
                                </div>
                                <div class="col-xs-6 col-sm-5">
                                    <h5>Наши контакты</h5>
                                    <address>
		            
 <i class="fa fa-phone"></i>: +7 (903)-328-00-19<br>
<i class="fa fa-fax"></i>: 8 800 900 900<br>
                       <i class="fa fa-envelope"></i>: 
                                 <a href="mailto:n.pollikoff@gmail.com">n.pollikoff@gmail.com</a>
		           </address>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div style="padding: 0px 10px;">
                                        <h5>Мы в соцсетях:</h5>
                                        <div class="nav navbar-nav" style="padding: 0px 10px;">
                                            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/pruaniki_v_saratove/"><i class="fa fa-instagram"></i></a>
                                            <a class="btn btn-social-icon btn-facebook" href="https://web.facebook.com/a.v.polakova"><i class="fa fa-facebook"></i></a>
                                            <a class="btn btn-social-icon btn-vk" href="http://vk.com/public46680065"><i class="fa fa-vk"></i></a>

                                            <a class="btn btn-social-icon btn-odnoklassniki" href="http://ok.ru/profile/341782257221"><i class="fa fa-odnoklassniki"></i></a>
                                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <p style="padding:10px;"></p>
                                    <p align=center>© Copyright 2015 Tetra Design</p>
                                </div>
                            </div>
                        </div>
                        </footer>