

    <div>
        <div>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Пряники</a></li>
                    <li class="active">На заказ</li>

                </ol>
            </div>
            <div class="container">
                <h3>Пряники на заказ</h3>
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="row row-content">
                <div class="jumbotron">
                    <p> Мы предлагаем Вам заказть пряники из старинных рецептов со всего мира под ваше уникальное событие, чтобы сделать событие запоминающимся</p>

                </div>

            </div>

            <div class="row row-content hidden-xs">
                <h3>Пряники делаются по вашим заказам таким образом:</h3>
                <div class="col-sm-3"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    <br>
                    <h2>Вы говорите что хотите</h2></div>
                <div class="col-sm-3"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                    <br>
                    <h2>Мы делаем предложения, согласовываем их</h2></div>
                <div class="col-sm-3"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                    <br>
                    <h2>Делаем пряники</h2></div>
                <div class="col-sm-3"> <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    <br>
                    <h2>Вы дарите их</h2></div>
                <!--    <ol>
                    <li> Вы говорите что хотите</li>
                    <li> Мы делаем предложения, согласовываем их</li>
                    <li> Делаем пряники</li>
                    <li>Вы их дарите, профит.</li>
                </ol> -->
            </div>




            <div class="row row-content">

                <p> Пряники делаются только из натуральных ингридиентов и пряностей, именно поэтому они такие вкусные (Риунок радуещегося ребенка). Мы не используем патоку и всякие загустители\добавки идентичные натуральным.</p>


            </div>


            <div class="row row-content">
                <p>Пряники на заказ можно использовать для следующих случаев:</p>
                <ul>
                    <li>- Подарки близким</li>
                    <li>- Подарки коллегам</li>
                    <li>- Сувениры гостям столицы</li>
                    <li>- Сувениры представителям власти</li>
                </ul>

            </div>

            <div class="row row-content">

                <p>Пряники мы расписываем вручную (фото как распиываем)</p>
                <p>А Вот что получается (фото с комментариями) (можно объединить с тем как расписываем)</p>
            </div>

            <div class="row row-content">

                <p> Можем также проводить мастер классы - это отличный способ проведения детского праздника, или просто занять детей на некоторое время, а также рассказать им история нашего пряника</p>

                <p>Отправте свою идею для пряника прямо сейчас и получите сладки подарок! (кнопка захвата с выпадающей формой (см. ниже))</p>


            </div>

            <div class="row row-content">
                <h2>Наши пряники участвуют в Крупных мероприятиях нашей страны (фото - карусель с подарками высокопоставленным лицам)</h2>

                <h1>Также есть популярные серии пряников, которые можно уже заказать на сайте (ссылка на магазин)</h1>
            </div>




            <div class="col-xs-12 col-sm-12">
                <p style="padding:20px;"></p>
            </div>
        </div>




    </div>

 