
            <div class=" col-sm-9 col-xs-12"> <!-- "Элементы магазина-->
                <ol class="breadcrumb">
                  <li><a ui-sref="a.app.magaz({category: ''})">Все пряники</a></li>
                    <li><a ui-sref="a.app.magaz({category:category})">{{categoryName}}</a></li>
                  <li class="active">{{element.title}}</li>
                </ol>


                <div class="col-sm-4 col-xs-12 " >
                 <ramka-magaz></ramka-magaz>
                </div>    
                

         

            </div>

        


