   <!--<div name="forh" id="forh">-->
   <!--<div class="container">-->
        <!--<div class="row row-header back-header" >-->
            <!--<div class="col-xs-12 col-sm-3"><img src="img/logo.png" class="logo"></div>-->
            <!--<div class="col-xs-12 col-sm-5 boom">-->
                <!--<h2>ПРЯНИКИ НА ЗАКАЗ<br> ОТ АННЫ ПОЛЯКОВОЙ</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-4">-->
                <!--<h2>+7(903) 328-00-19</h2>-->
            <!--</div>-->
            <!--&lt;!&ndash; верхняя страница с контейнером - баннер и телефон&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->


<div class="ss-header">
    <div class="container" >
        <div class="row">
            <div class="ss-navigation">
                <div class="ss-navigation-table">
                    <div class="col-sm-3 ss-navigation-table-cell">
                        <a ui-sref="app.start">
                        <span>Логотип</span>
                        </a>
                    </div>
                <nav class="col-sm-9 ss-navigation-table-cell right " id="menu" name = "menu" role="navigation" >
                    <!--<div class="navbar-header">-->
                        <!--<a class="navbar-brand" ui-sref="app.start">-->
                            <!--<span class="glyphicon glyphicon-home"> </span>-->
                        <!--</a>-->
                        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                            <!--<span class="sr-only">Toggle navigation</span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                        <!--</button>-->
                        <!--&lt;!&ndash;      <a class="navbar-brand" href="index.html">АННА-ПРЯНИК</a> &ndash;&gt;-->
                    <!--</div>-->
                    <!--<div id="navbar" class="navbar-collapse collapse">-->
                        <ul class="nav navbar-nav">
                            <li class="ss-menu-item"><a ui-sref="app.aboutus" ><span>О нас </span></a></li>
                            <li><a ui-sref="app.fororder">На заказ</a></li>
                            <li><a ui-sref="app.magaz({category: ''})">Все пряники</a></li>
                            <li><a ui-sref="app.masterclass">Мастер-класс</a></li>
                            <li><a ui-sref="app.contactus">Контакты</a></li>
                           <!-- <li><a ui-sref="app.delivery">Оплата и доставка</a></li> -->
                            <li><a ui-sref="app.news">Блог</a></li>
                            <li><a ui-sref="app.cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span class="badge">{{len}}</span></a></li>
                        </ul>

                    <!--</div>-->
                </nav>
                </div>
            </div>
        </div>

    <!--</div> &lt;!&ndash; Навигация&ndash;&gt;-->
    </div>
    <div class="wave-separator"></div>
<!-- Конец хедера -->
<div>
    <section class="ss-main-content">
        <div ui-view></div>
    </section>
</div>


    <div class="ss-sidebar-bottom">
        <div class="container">
            <ul class="row">
                <div class="col-md-8 subscribe">
                    <!--<aside>-->
                        <div class="burst">
                            <div>
                                <span class=" glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="ss-navigation-table-cell title">
                            <h4>Подпишитесь на наши уведомления</h4>
                            <p>Будем присылать только актуальную инфорамцию </p>
                        </div>
                        <div class="ss-navigation-table-cell">
                            <input type="email" placeholder="адрес email">
                        </div>
                    <!--</aside>-->
                </div>
                <div class="col-md-4 ss-social-links">
                    <!--<div style="padding: 0px 10px;">-->
                        <!--<h5>Мы в соцсетях:</h5>-->
                        <!--<div class="nav navbar-nav" style="padding: 0px 10px;">-->
                    <ul class="list-inline">
                         <li>   <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/pruaniki_v_saratove/"><i class="fa fa-instagram"></i></a></li>
                          <li>  <a class="btn btn-social-icon btn-facebook" href="https://web.facebook.com/a.v.polakova"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="btn btn-social-icon btn-vk" href="http://vk.com/public46680065"><i class="fa fa-vk"></i></a></li>
                            <li><a class="btn btn-social-icon btn-odnoklassniki" href="http://ok.ru/profile/341782257221"><i class="fa fa-odnoklassniki"></i></a></li>
                            <li><a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a></li>
                    </ul>
                        </div>

                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Футер -->
    <footer class = "footer-sidebars">
        <!--<div class="container">-->
            <div class="wrap-content">
                <div class = "container">
                    <div class="row">
            <!--<div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1 ">-->
                    <!--<h5>Пряники</h5>-->
                    <!--<ul class="list-unstyled">-->
                        <!--<li><a ui-sref="app.fororder">На заказ</a></li>-->
                        <!--<li><a ui-sref="app.masterclass">Мастер-класс</a></li>-->
                        <!--<li><a ui-sref="app.magaz({category: ''})">Все пряники</a></li>-->
                    <!--</ul>-->
            <!--</div>-->
            <div class="col-sm-4 ">
                <h5 class="widget-title">Наши контакты</h5>
                <p>
                    <i class="fa fa-phone"></i><span>Tel: +7 (903)-328-00-19</span><br>
                    <!--<i class="fa fa-fax"></i>: 8 800 900 900<br>-->
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:n.pollikoff@gmail.com"><span>Email: a.v.polakova@gmail.com</span></a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">

            </div>
                </div>
                </div>
            <div class="col-xs-12 col-sm-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2015 Tetra Design</p>
            </div>
        <!--</div>-->
    </footer>